* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

p, li {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.header {
  height: 50vh;
  background-color: #00998d;
  padding-left: 20%;
  padding-right: 20%;
  position: relative;
}

.header h1 {
  font-size: 36px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 800;
  color: #FFF;
  text-align: center;
  position: absolute;
  top: 20vh;
}

.nav {
  background-color: #98b3b1;
  height: 60px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  width: 120px;
  display: inline;
}

.nav a {
  color: #FFF;
}

.body {
  padding: 15%;
  padding-top: 30px;
}

a {
  color: #00998d;
}
